---
page_title: "Provider: {{ title .ProviderShortName }}"
description: The Prismatic provider is used to interact with Prismatic's API.
---

# {{ title .ProviderShortName }} Provider

The [Prismatic](https://prismatic.io/) provider is used to interact with [Prismatic's API](https://prismatic.io/docs/api/api-overview/)
to configure resources within a Prismatic organization.

It provides resources that allow you to create and manage Integrations, publish Components, and more as part of a Terraform deployment.

Use the navigation to the left to read about the available resources and data sources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

In case you need to use a refresh token to get automatically a headless access token you can use:

{{ tffile "examples/provider/provider_with_refresh_token.tf" }}

In this case the token provided is not going to be used.

~> Hard-coding credentials into any Terraform configuration is not recommended and risks secret leakage should this
file ever be committed to a public version control system. See [Environment Variables](#environment-variables) for a
better alternative.

{{ .SchemaMarkdown | trimspace }}

## Environment Variables

You can provide your credentials using the `PRISMATIC_URL` and `PRISMATIC_TOKEN` environment variables. Or if you need to use a refresh token you can use `PRISMATIC_URL` and `PRISMATIC_REFRESH_TOKEN` environment variables, remember the `PRISMATIC_TOKEN` is going to be ignored in that case.

{{ tffile "examples/provider/provider_with_env_vars.tf" }}

### Example Usage
{{ codefile "shell" "examples/provider/usage_with_env_vars.sh" }}

## Importing Resources

To import existing Prismatic resources you will need to know their ID. You can use the 
[Prismatic API Explorer](https://prismatic.io/docs/explorer/) to find resource IDs.